#generatePasswordWindow {
	position: absolute;
	display: none;
	height: 135px;
	width: 300px;
	background-color: #E0E2F3;
	border: 1px solid #CCCCCC;
	top: 300px;
	left: 600px;
	z-index: 100;
	padding: 10px;
}

#generatePasswordWindow table {
	width: 100%;
}

#generatePasswordWindow table td {
	border-bottom: 0px;
}

#generatePasswordWindow table .right {
	text-align: right;
}