* {
	/* old-style reset here :) */
	border: 0px;
	padding: 0px;
}
body {
	font-family: Helvetica;
	background: white;
/*	text-align: center;*/
/*	background: url(../images/body.png) repeat-x;*/
}
body h1 {
	padding-top: 20px;
	font-size: 26px;
	color: #335;
}
#content td {
border-bottom:medium none;
padding:0;
}
#calmain table {
	border-collapse: separate;
	border: 1px solid #9DABCE;
	border-width: 0px 0px 1px 1px;
	margin: 10px auto;
	font-size: 20px;
}
#calmain td, #calmain th {
	width: 81px;
	height: 81px;
	text-align: center;
	vertical-align: middle;
	background: url(../images/cells.png);
	color: #444;
	position: relative;
	padding:0;
}
#calmain th {
	height: 30px;
	font-weight: bold;
	font-size: 14px;
}
#calmain td:hover, #calmain th:hover {
	background-position: 0px -81px;
	color: #222;
}
#calmain td.date_has_event {
	background-position: 162px 0px;
	color: white;
}
#calmain td.date_has_event:hover {
	background-position: 162px -81px;
}
#calmain td.padding {
	background: url(../images/calpad.jpg);
}
#calmain td#today {
	background-position: 81px 0px;
	color: white;
}
#calmain td#today:hover {
	background-position: 81px -81px;
}
#calmain .events {
	position: relative;
}
#calmain .events ul {
	text-align: left;
	position: absolute;
	display: none;
	z-index: 1000;
	padding: 15px;
	background: #E7ECF2 url(../images/popup.png) no-repeat;
	color: white;
	border: 1px solid white;
	font-size: 15px;
	width: 200px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	-border-radius: 3px;
	list-style: none;
	color: #444444;
	-webkit-box-shadow: 0px 8px 8px #333;
}
#calmain .events li {
	padding-bottom: 5px;
}
#calmain .events li span {
	display: block;
	font-size: 12px;
	text-align: justify;
	color: #555;
}
#calmain .events li span.title {
	font-weight: bold;
	color: #222;
}

#calmain th a{
text-decoration:none;
font-size:120%;
font-weight:bold;
color: #000;
outline-width:0;
}

#content textarea, #content input{
	border: 1px solid #ccc;
}
/* Calendar */

#calmain{
	
}
#calleft{
	position: absolute;
        top: 60px;
        left: 460px;
}
#calright {
	float: left;
	width:20%;
	padding: 20px;
}

#content tr.dentme td{
    padding-left: 15px;
}