#site, .splitter, .actions, .image-grid {
  zoom: 1;
}

.splitter li,
.splitter ul,
.splitter ul li a {
  display: inline;
}

ul.splitter {
  padding-top: 0;
  padding-bottom: 8px;
}

.splitter ul {
  position: relative;
  top: 6px;
  left: 8px;
}

.actions p {
  width: 254px;
}

strong {
  font-weight: bold;
}